* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#sun .cls-1 {
  fill: #f5ec43;
}
#sun .cls-1, #sun .cls-2 {
  stroke: #231f20;
  stroke-miterlimit: 10;
  stroke-width: 4.6px;
}
#sun .cls-3 {
  fill: #231f20;
}
#sun .cls-3, #sun .cls-4 {
  stroke-width: 0px;
}
#sun .cls-2 {
  fill: #efe77f;
}
#sun .cls-4 {
  fill: #fff;
}

body {
  padding: 50px 100px;
  background-color: black;
}

.center {
  display: flex;
  justify-content: center;
}

#poster {
  height: 1369.2px;
  width: 1200px;
  background-color: white;
}

#sun {
  width: 10%;
  animation: updown 5s infinite alternate;
  animation-timing-function: ease-in-out;
}

#sun_rays {
  animation: spin 50s infinite;
  animation-timing-function: linear;
  transform-origin: center;
}

@keyframes updown {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(200px);
  }
}
.moneybag {
  width: 10%;
  animation: updown 3s infinite alternate;
  animation-timing-function: ease-in-out;
}
.moneybag .cls-1 {
  fill: #efe77f;
}
.moneybag .cls-1, .moneybag .cls-2, .moneybag .cls-3 {
  stroke: #231f20;
  stroke-miterlimit: 10;
  stroke-width: 4.6px;
}
.moneybag .cls-2 {
  fill: #ede6a1;
}
.moneybag .cls-3 {
  fill: #fff;
}

@keyframes flapLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes flapRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes upDown {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(200px);
  }
}
.money-bag {
  animation: upDown 3s ease-in-out infinite alternate;
}

.left-wing {
  transform-origin: left;
  animation: flapLeft 0.3s ease-in-out infinite alternate;
  transform: translate(30px);
}

.right-wing {
  transform-origin: right;
  animation: flapRight 0.3s ease-in-out infinite alternate;
  transform: translateX(-30px);
}

.gasCloudOne .cls-1, .gasCloudOne .cls-3, .gasCloudOne .cls-4, .gasCloudTwo .cls-1, .gasCloudTwo .cls-3, .gasCloudTwo .cls-4, .gasCloudThree .cls-1, .gasCloudThree .cls-3, .gasCloudThree .cls-4, .gasCloudFour .cls-1, .gasCloudFour .cls-3, .gasCloudFour .cls-4, .gasCloudFive .cls-1, .gasCloudFive .cls-3, .gasCloudFive .cls-4 {
  stroke-width: 0px;
}
.gasCloudOne .cls-2, .gasCloudOne .cls-5, .gasCloudTwo .cls-2, .gasCloudTwo .cls-5, .gasCloudThree .cls-2, .gasCloudThree .cls-5, .gasCloudFour .cls-2, .gasCloudFour .cls-5, .gasCloudFive .cls-2, .gasCloudFive .cls-5 {
  stroke: #231f20;
  stroke-miterlimit: 10;
}
.gasCloudOne .cls-3, .gasCloudTwo .cls-3, .gasCloudThree .cls-3, .gasCloudFour .cls-3, .gasCloudFive .cls-3 {
  fill: #231f20;
}
.gasCloudOne .cls-4, .gasCloudTwo .cls-4, .gasCloudThree .cls-4, .gasCloudFour .cls-4, .gasCloudFive .cls-4 {
  fill: #a1cf6d;
}
.gasCloudOne .cls-5, .gasCloudTwo .cls-5, .gasCloudThree .cls-5, .gasCloudFour .cls-5, .gasCloudFive .cls-5 {
  fill: #fff;
  stroke-width: 4.6px;
}

.gasCloudOne {
  animation: moveAroundOne 8s infinite alternate;
  animation-timing-function: ease-in-out;
}

.gasCloudOneBody {
  transform-origin: 85% 65%;
  animation: cloud-behaviorOne 3s infinite alternate;
  animation-timing-function: ease-in-out;
}

@keyframes moveAroundOne {
  0% {
    transform: translate(-5px, 7px);
  }
  50% {
    transform: translate(-30px, 3px);
  }
  100% {
    transform: tralsnate(21px, 7px);
  }
}
@keyframes cloud-behaviorOne {
  0% {
    transform: scale(0.9) rotate(0deg);
  }
  50% {
    transform: scale(1) rotate(20deg);
  }
  100% {
    transform: scale(0.85);
  }
}
.gasCloudTwo {
  animation: moveAroundTwo 5s infinite alternate;
  animation-timing-function: ease-in-out;
}

.gasCloudTwoBody {
  transform-origin: 35% 20%;
  animation: cloud-behaviorTwo 2s infinite alternate;
  animation-timing-function: ease-in-out;
}

@keyframes moveAroundTwo {
  0% {
    transform: translate(-15px, 15px);
  }
  25% {
    transform: translate(0px, 7px);
  }
  50% {
    transform: translate(4px, -3px);
  }
  75% {
    transform: translate(4px, 9px);
  }
  100% {
    transform: translate(5px, 14px);
  }
}
@keyframes cloud-behaviorTwo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85) rotate(5deg);
  }
  100% {
    transform: scale(0.9);
  }
}
.gasCloudThree {
  animation: moveAroundThree 2s infinite alternate;
  animation-timing-function: ease-in-out;
}

.gasCloudThreeBody {
  animation: cloudBehaviorThree 4s infinite alternate;
  animation-timing-function: ease-in-out;
  transform-origin: 10% 35%;
}

@keyframes moveAroundThree {
  0% {
    transform: translate(4px, 7px);
  }
  50% {
    transform: translate(7px, -2px);
  }
  100% {
    transform: translate(18px, -4px);
  }
}
@keyframes cloudBehaviorThree {
  0% {
    transform: rotate(20deg) scale(1.2);
  }
}
.gasCloudFour {
  animation: moveAroundFour 6s infinite alternate;
  animation-timing-function: ease-in-out;
}

.gasCloudFourBody {
  animation: cloudBehaviorFour 2s infinite alternate;
  animation-timing-function: ease-in-out;
  transform-origin: 45% 85%;
}

@keyframes moveAroundFour {
  0% {
    transform: translate(-15px, -2px);
  }
  25% {
    transform: translate(0px, -7px);
  }
  50% {
    transform: translate(4px, -3px);
  }
  75% {
    transform: translate(4px, -9px);
  }
  100% {
    transform: translate(5px, -3px);
  }
}
@keyframes cloudBehaviorFour {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-20deg) scale(0.9);
  }
}
.gasCloudFive {
  animation: moveAroundFive 3s infinite alternate;
  animation-timing-function: ease-in-out;
}

.gasCloudFiveBody {
  animation: cloudBehaviorFive 2s infinite alternate;
  animation-timing-function: ease-in-out;
  transform-origin: 50% 40%;
}

@keyframes moveAroundFive {
  0% {
    transform: translate(5px, -15px);
  }
  25% {
    transform: translate(-5px, -7px);
  }
  50% {
    transform: translate(0px, 5px);
  }
  75% {
    transform: translate(4px, 9px);
  }
  100% {
    transform: translate(5px, 14px);
  }
}
@keyframes cloudBehaviorFive {
  0% {
    transform: rotate(-20deg) scale(1.1);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg) scale(1.1);
  }
}/*# sourceMappingURL=style.css.map */